.App {
  text-align: center;
}

.title {
  display: block;
  text-align: center;
   ;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px rgb(35, 54, 5) solid;
  margin: 3mm;
  background-color: rgb(26, 114, 45);
}

.header {
  height: 30%;
  background: #90a76c;
  color: white;
  text-align: center;
}

.grid-container {
  display: flex;
  align-content: stretch;
  flex-wrap:wrap-reverse;
  order: 5;
  gap: 80px;
  /* margin-top: 25mm; */
  margin-block-start: 25px;
  /* margin-left:50mm;
  margin-bottom: 25mm; */
  border: 2px rgb(35, 54, 5) dashed;
}

.featured-container {
  display: block;
  align-items: center;
  order: 5;
  gap: 50px;
  margin: 25px;
}
/* 
.title {
grid-area: title;
} */

/* .label {
  grid-area: label;
} */

/* .plantadd {
  grid-area: plantadd;
} */

/* .usernameadd {
  grid-area: newPlant;
} */


.yourPlants {
  grid-area: yourPlants;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

ul {
  list-style-type: none;
}