.App {
display: grid;
justify-content: center;
}
/* .title {
display: grid;
justify-content: center;
} */

.title {
  display: block;
  text-align: center;
}

/* input[type=text]:focus {
  border: 3px solid rgb(94, 98, 150);
} */

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px rgb(35, 54, 5) solid;
  margin: 3mm;
  text-align: center;
  background-color: rgb(26, 114, 45);
}

.header {
  height: 30%;
  background: #90a76c;
  color: rgb(53, 50, 50);
  text-align: center;
  padding-bottom: .5em;
}

.grid-container {
  display: flex;
  width: 40%;
  align-content: center;
  align-items: center;
  flex-wrap:wrap-reverse;
  gap: 80px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 45em;
  padding-left: 1em;
  padding-right:1em;
  border: 4px rgb(35, 54, 5) dashed;
  color:#1d5e25;
  box-shadow:lawngreen;
  border-radius: 25px
}

.email-notify {
  display: flex;
  width: 40%;
  align-items: center;
  flex-wrap:wrap-reverse;
  gap: 8px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 45em;
  padding-left: 1em;
  padding-right:1em;
  color: #1d5e25;
  border:4px rgb(35, 54, 5) dashed;
  box-shadow:lawngreen;
  border-radius: 25px
}

.to2 {
  margin-bottom: 20px;
  padding-left: 1em;
  padding-top: 1em;
  font-weight: bold;
}

.email {
  margin-bottom: 20px;
  padding-left: em;
  padding-top: 1em;
  font-weight: bold;
}

.submit {
  display:flex;
  justify-content:right;
  margin-bottom: 1em; 
  margin-left: 40em;
}

input{
  margin-bottom: 20px;
  margin-left:50mm;
  margin-right:50mm;
  padding-left: 10mm;
}

.email2{
  margin-bottom: 20px;
  margin-left:50mm;
  margin-right:50mm;
  padding-left: 10mm;
}

.to-box{
  margin-bottom: 20px;
  margin-left:50mm;
  margin-right:50mm;
  padding-left: 10mm;
}

.submit-btn {
  display:flex;
  justify-content:right;
  margin-bottom: 1em; 
  margin-left: 85%;
}

legend h3 {
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
}

.plantadd {
  padding-left: 5em;
  padding-top: 1em;
  font-weight: bold;
}

.usernameadd {
  padding-left: 5em;
  padding-bottom: 1em;
  font-weight: bold;
}

/* 
.featured-container {
  display: block;
  align-items: center;
  order: 5;
  gap: 50px;
  margin: 25px;
} */

nav ul {
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(35, 54, 5);
  margin-bottom: 20px;
}

#nav ul li{
  color: white;
  text-decoration: none;
}



/* 
@media (prefers-reduced-motion: no-preference) {
  
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

ul {
  list-style-type: none;
}